<div class="container">
    <div class="row text-center">
        <div class="col-sm-6 col-sm-offset-3">
        <br><br> <h2 style="color:#0fad00">Success</h2>
        <!-- <h3>Dear, Faisal khan</h3> -->
        <p style="font-size:20px;color:#5C5C5C;">
        Gracias por elegir y usar trapit. Este es un email de confirmación de reserva.</p>
    <br><br>

    <img class="card-img-top" src="{{img}}" alt="Card image cap">
    <div class="card-block">
      <h4 class="card-title">{{descripcion}}</h4>
      <p class="card-text">Dirección:{{direccion}}</p>
      <p class="card-text">Precio: ${{precio}}</p>
      <p class="card-text"><strong>Puntuacion:</strong>{{puntuacion}}</p>
    </div>

        </div>
        
    </div>
</div>